{% extends "base.twig" %}

{% block header_extra %}

	{% if print_css_code %}
		<style>{{ print_css_code|raw }}</style>
	{% else %}
		<link rel="stylesheet" href="{{ app.request.basepath }}/static/print.css" type="text/css" media="print" />
	{% endif %}

{% endblock %}

{% block page_class %}all-songs-report{% endblock %}

{% block content %}

<h1>{% trans %}All transpositions for your voice{% endtrans %}</h1>

<p class="your-voice">
	<em>{% trans %}Your voice:{% endtrans %}</em> 
	{{ your_voice|raw }}
</p>

<nav class="report-actions">
	<a href="javascript:void(0)" class="btn-neutral btn-icon icon-print">{% trans %}Print{% endtrans %}</a>
	<a href="{{ path('all_songs_report', {'dl': 1}) }}" class="btn-neutral btn-icon icon-download">{% trans %}Download{% endtrans %}</a>
</nav>

<p class="note">{% trans %}C = capo. If not written, no capo should be used.{% endtrans %}</p>

<div>
	<ul class="songs-list">
	{% for song in songs %}
		<li>
			<h2>{{ song.song_details.page|default('&#248;')|raw }}
			· {{ song.song_details.title }}</h2>

			<ul>
			{% for transposition in song.transpositions|slice(0,1) -%}
				<li>
					{% if transposition.capo %}
						<span class="capo">C{{ transposition.capo }}</span>
					{% endif %}

					{% if transposition.asBook %}
						{% trans %}(as in the book){% endtrans %}
					{% else %}
						{% for i, original_chord in song.original_chords -%}
							<span class="chord-pair">{{ original_chord|raw }}
								&rsaquo;
								{{ transposition.chordsForPrint[i]|raw }}
							</span>
							{% if not loop.last %} &nbsp; {% endif %}
						{%- endfor %}
					{% endif %}
				</li>
			{%- endfor %}
			</ul>
		</li>
	{% endfor %}
	</ul>
</div>

{% import 'base.twig' as self %}
{{ self.loadJsFramework() }}

<script>

$(function() {

	$(".icon-print").click(function(e) {
		ga('send', 'event', 'AllSongsReport', 'Print');
		window.print();
	});

	$(".icon-download").attr("href", "javascript:void(0)");

	$(".icon-download").click(function(e) {
		location.href = "{{ path('all_songs_report', {'dl': 1}) }}";
		ga('send', 'event', 'AllSongsReport', 'Download');
	});
});
</script>

{% endblock %}