{% extends "base.twig" %}

{% macro printTransposition(transposition, transposed_song_with_fb, prefix, typeOfTransposition) %}

	{% if (typeOfTransposition == "centered1") %}
		{% set other = (transposed_song_with_fb.feedbackTranspositionWhichWorked != null and transposed_song_with_fb.feedbackTranspositionWhichWorked != "centered1") %}
	{% else %}
		{% set other = (not (transposed_song_with_fb.feedbackTranspositionWhichWorked == typeOfTransposition)) %}
	{% endif %}

	<li class="trans-{{ typeOfTransposition }} {% if other %}other{% endif %}">

		{% if (transposed_song_with_fb.feedbackTranspositionWhichWorked == typeOfTransposition) %}
		<span class="feedback green" title="{% trans %}You have reported this transposition as fitting your voice{% endtrans %}">✔</span>
		{% else %}
		<span class="marker-when-multiple">›</span>
		{% endif %}

		<span class="prefix">{{ prefix }}</span>

		{% if transposition.capo %}
			<span class="capo">C{{ transposition.capo }}</span>
		{% endif %}

		{% if transposition.asBook %}
			{% trans %}(as in the book){% endtrans %}
		{% else %}
			{% for i, original_chord in transposed_song_with_fb.transposedSong.song.originalChordsForPrint %}
				<span class="chord-pair">
					{{ original_chord|raw }}
					&rarr;
					{{ transposition.chordsForPrint[i]|raw }}
					{%- if not loop.last -%}; {% endif %}
				</span>
			{%- endfor %}
		{% endif %}
	</li>
{% endmacro %}
{% import _self as self %}

{% block header_extra %}

	{% if print_css_code %}
		<style>{{ print_css_code|raw }}</style>
	{% else %}
		<link rel="stylesheet" href="{{ global.request.basePath }}/static/print.css" type="text/css" media="print" />
	{% endif %}

{% endblock %}

{% block page_class %}all-songs-report{% endblock %}

{% block content %}

<h1>{% trans %}All transpositions for your voice{% endtrans %}</h1>

<p class="your-voice">
	<em>{% trans %}Your voice:{% endtrans %}</em> 
	{{ your_voice|raw }}
</p>

<nav class="report-actions">
	<a href="javascript:void(0)" class="btn-neutral btn-icon icon-print">{% trans %}Print/PDF{% endtrans %}</a>
	<a href="{{ path('all_songs_report', {'dl': 1}) }}" class="btn-neutral btn-icon icon-download">{% trans %}Download{% endtrans %}</a>
</nav>

<nav class="toggle-transpositions">
	<span><input type="checkbox" id="show-others" onclick="toggle()"><label for="show-others">{% trans %}Show alternative transpositions{% endtrans %}</label></span>
</nav>

<p class="note">{% trans %}C = capo. If not written, no capo should be used.{% endtrans %}</p>

<div>
	<ul class="songs-list">
	{% for transposed_song_with_fb in all_songs_transposed_with_fb %}
		<li>
			<h2>{{ transposed_song_with_fb.transposedSong.song.page|default('&#248;')|raw }}
			· {{ transposed_song_with_fb.transposedSong.song.title }}
			{% if global.debug %}<a href="{{ path('transpose_song', {'id_song' : transposed_song_with_fb.transposedSong.song.idSong }) }}">[{{ transposed_song_with_fb.transposedSong.song.idSong }}]</a>{% endif %}
			</h2>

			<ul>
{% block songTranspositions %}
			{% for transposition in transposed_song_with_fb.transposedSong.transpositions|slice(0,2) -%}
				{{ self.printTransposition(transposition, transposed_song_with_fb, null, "centered" ~ loop.index ) }}
			{%- endfor %}

			{% if transposed_song_with_fb.peopleCompatible %}
				{{ self.printTransposition(transposed_song_with_fb.peopleCompatible, transposed_song_with_fb, "[" ~ "Assembly"|trans ~ transposed_song_with_fb.peopleCompatibleStatusMicroMsg ~ "]", "peopleCompatible") }}
			{%- endif %}
{% endblock %}
			</ul>
		</li>
	{% endfor %}
	</ul>
</div>

{% import 'base.twig' as self %}
{{ self.loadJsFramework() }}

<script>

function toggle()
{
	var aAllElements = document.getElementsByClassName("other");
	document.querySelector(".songs-list").classList.toggle("showing-others")
	for (e in aAllElements)
	{
		if (typeof aAllElements[e].classList != "undefined")
			aAllElements[e].classList.toggle("block");
	}
}

$(function() {

	if (navigator.userAgent.toLowerCase().indexOf('firefox') > -1 && navigator.userAgent.toLowerCase().indexOf("android") > -1)
	{
		$(".icon-print").hide();
	}

	$(".icon-print").click(function() {
		ga('send', 'event', 'AllSongsReport', 'Print');
		window.print();
	});

	$(".icon-download")
		.attr("href", "javascript:void(0)") //Progressive enhancement
		.click(function() {
			location.href = "{{ path('all_songs_report', {'dl': 1}) }}";
			ga('send', 'event', 'AllSongsReport', 'Download');
		});

	if (document.getElementById("show-others").checked)
	{
		toggle();
	}
});
</script>

{% endblock %}
