<!doctype html>
<html translate="no" lang="{{ app.locale }}">
<head>

	<meta charset="{{ _charset }}" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>{{ page_title }}</title>
	<link rel="stylesheet" href="{{ global.request.basepath }}/static/{{ neoapp_css_file }}" type="text/css" />
	
	<link rel="icon" type="image/svg+xml" sizes="512x512" href="{{ global.request.basepath }}/static/img/logo-red.svg">
	<link rel="icon" type="image/png" sizes="512x512" href="{{ global.request.basepath }}/static/img/icon-512x512.png">
	<link rel="icon" type="image/png" sizes="192x192" href="{{ global.request.basepath }}/static/img/icon-192x192.png">
	<link rel="icon" type="image/png" sizes="180x180" href="{{ global.request.basepath }}/static/img/apple-touch-icon.png">
	<link rel="apple-touch-icon"      sizes="180x180" href="{{ global.request.basepath }}/static/img/apple-touch-icon.png">
	<link rel="icon" href="{{ global.request.basepath }}/favicon.ico">

	<link rel="manifest" href="{{ path('webmanifest', {_locale: app.locale}) }}">

	<meta property="og:url" content="{{ app.absoluteUriWithoutQuery }}">
	<meta property="og:title" content="{{ page_title }}">
	<meta property="og:description" content="{{ meta_description|default('Neo-Transposer automatically transposes the songs of the Neocatechumenal Way for you, so they fit your voice perfectly.'|trans) }}">
	<meta property="og:site_name" content="{{ app.neoconfig.software_name }}">
	<meta property="og:type" content="website">
	<meta property="og:image" content="{{ app.absoluteBasePath }}/static/img/mkt-{{ app.locale}}-600x315.jpg">
	<meta property="og:locale" content="{{ app.locale}}">

	<meta name="google" content="notranslate" />
	<meta name="description" content="{{ meta_description|default('Neo-Transposer automatically transposes the songs of the Neocatechumenal Way for you, so they fit your voice perfectly.'|trans) }}" />
	{% if meta_canonical %}<link rel="canonical" href="{{ meta_canonical }}" />{% endif %}

	{% if global.debug or global.request.headers.get('dnt') -%}
	<script>var ga = function() {}</script>
	{%- else -%}
	<script async src="https://www.googletagmanager.com/gtag/js?id={{ app.neoconfig.analytics_id }}"></script>
	<script defer
	  src="https://unpkg.com/@tinybirdco/flock.js"
	  data-host="https://api.tinybird.co"
	  data-token="p.eyJ1IjogIjk5YzQ5NGE3LTFkNzQtNDJkNi05Mjc0LTY3MmExZWJiNzU5YSIsICJpZCI6ICI2YzRhYzU4OC01Y2E1LTQ3NTAtOGU5OC02YWIzNzZlNTZkZDMifQ.zSSizfwmHcMubFXVmxWSsCkIfKCDWWhBRy9US1s9oHY"
	/>
	<script>
	
		(function () {
		window.colorSchemePref = 'No Preference';
		if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
			window.colorSchemePref = 'Dark';
		} else if (window.matchMedia && window.matchMedia('(prefers-color-scheme: light)').matches) {
			window.colorSchemePref = 'Light';
			}
		})();

		{# (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', '{{ app.neoconfig.analytics_id }}', 'auto');
		ga('set','anonymizeIp', true);
		{% if app.neouser.isLoggedIn -%}
		ga('set', '&uid', '{{ app.neouser.id_user }}');
		ga('set', 'dimension2', '{{ app.neouser.range.lowest|default('-') }}');
		ga('set', 'dimension3', '{{ app.neouser.range.highest|default('-') }}');
		ga('set', 'dimension5', window.colorSchemePref);
		ga('set', 'contentGroup1', '{{ app.locale }}');#}

		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', '{{ app.neoconfig.analytics_id }}');
		{%- endif %}

		ga('send', 'pageview');
	</script>
	{%- endif %}

	{% block header_extra %}{% endblock %}
</head>

<body class="lang-{{ app.locale }} {% block page_class %}{% endblock %}" id="top">

	<div class="wrapper">

		{% block languageSwitchTop %}{% endblock %}

		{% block header %}
		<nav class="header">
			<div class="inside">

				{% if header_link -%}
					<h2>
						<a href="{{ header_link }}">{{ app.neoconfig.software_name }}</a>
					</h2>
				{%- else -%}
					{% if current_route == 'login' -%}
					<h1>{{ app.neoconfig.software_name }}</h1>
					{% else -%}
					<h2>{{ app.neoconfig.software_name }}</h2>
					{%- endif %}
				{%- endif %}

				{% if app.neouser.isLoggedIn and current_route != 'login' -%}
				<span class="user">
					<a href="{{ path('login', {_locale: app.locale}) }}">{% trans %}Log-out{% endtrans %}</a>
				</span>
				{%- endif %}

			</div>
		</nav>
		{% endblock %}

		<section class="main">

		{% if notifications.error %}
			{% for notification in notifications.error %}
			<div class="notification error">{{ notification }}</div>
			{% endfor %}
		{% endif %}
		{% if notifications.success %}
			{% for notification in notifications.success %}
			<div class="notification success">{{ notification }}</div>
			{% endfor %}
		{% endif %}

		{% block content %}{% endblock %}
		</section>

		<div class="push"></div>
	</div>

	{% block footer %}
	<footer>
		{% trans with { '%url%': 'http://github.com/isra00/neo-transposer' } %}Developed as <a href="%url%">free software</a> in Tanzania.{% endtrans %}
		<a href="mailto:neo-transposer@mail.com">{%trans %}Contact{% endtrans %}</a>.
	</footer>
	{% endblock %}

	{% macro loadJsFramework() -%}
	<script src="{{ global.request.basepath }}/static/zepto.min.js"></script>
	{%- endmacro %}

</body>
</html>
