{% extends "base.twig" %}

{% block page_class %}page-book{% endblock %}

{% block content %}

{% if app.locale == 'es' and not show_unhappy_warning %}
<div class="tip new resucilex">
	{% trans with { '%url%': 'http://lexicon.neo-transposer.com/es?utm_source=NeoTransposer&utm_medium=BookEsTopBanner&utm_campaign=partnerLinks' } %}<strong>NEW</strong>: Now that you have transposed the songs, another app can help you to choose the right songs for a celebration. Meet the <strong><a href="%url%">Lexicon of the Songbook</a></strong>.{% endtrans %}
</div>
{% endif %}

{% if show_unhappy_warning %}
<div class="tip no-icon">
	<h2><span class="red">&#128534;</span> {% trans %}Something is going wrong{% endtrans %}</h2>
	<p>{% trans %}Until now, almost all transpositions have <strong>not</strong> worked for you. Perhaps your voice range you set is not the actual one.{% endtrans %}</p>
	<p>{% trans  with {'%url%': path('wizard_step1', {'_locale': app.locale}) } %}Try to <strong><a href="%url%">do again the voice test</a></strong>. That may improve your results. If not, just choose whether you have female or male voice and Neo-Transposer will set for you a standard voice range. That will make you get better transpoositions!{% endtrans %}</p>
	<p class="standard-voice-selection">
		<a href="{{ path('set_user_data', {'lowest_note': app.neoconfig.voice_wizard.standard_voices.female[0], 'highest_note': app.neoconfig.voice_wizard.standard_voices.female[1], 'unhappy_choose_std': 'female' }) }}" class="flatbutton red bigbutton">{% trans %}<span>My voice is </span>female{% endtrans %}</a> 
		<a href="{{ path('set_user_data', {'lowest_note': app.neoconfig.voice_wizard.standard_voices.male[0], 'highest_note': app.neoconfig.voice_wizard.standard_voices.male[1], 'unhappy_choose_std': 'male' }) }}" class="flatbutton red bigbutton">{% trans %}<span>My voice is </span>male{% endtrans %}</a>
	</p>

</div>
{% endif %}

<h1>
	{% if app.neouser.isLoggedIn %}
	<span class="change-book"><a class="small-button" href="{{ path('user_book', {'_locale':app.locale}) }}">{% trans %}Other languages{% endtrans %}</a></span>
	{% endif %}

	{{ current_book.lang_name }}
	<small>{{ current_book.details }}</small>
</h1>

{% if app.neouser.isLoggedIn %}
<div class="quick-search">
	<input type="text" id="quick-search" placeholder="{% trans %}Quick search a song{% endtrans %}">
</div>
{% endif %}

<div class="clearfix"></div>

{% if not app.neouser.isLoggedIn %}
	{% import "login.twig" as login %}

	<div class="teaser">
		<div class="inside">
			<div class="more-inside">
				<p>{% trans %}Log-in now to transpose automatically the chords of the songs of the Neocatechumenal Way.{% endtrans %}</p>
				{{ login.login_form('', global.request.getRequestUri) }}
			</div>
		</div>
	</div>

{% endif %}

<span class="link-all-report-wrapper">
	<a class="link-all-report btn-neutral btn-icon icon-download" href="{{ path('all_songs_report', {_locale: app.locale}) }}">{% trans %}Download or print <small>All songs report</small>{% endtrans %}</a>
</span>

<ul class="song-index">
{% for song in songs %}
	<li>
		<a href="{{ path('transpose_song', {"id_song":song.slug}) }}">
			<span class="black">{{ song.page|default('&#248;')|raw }} · </span>
			<h4>{{ song.title }}</h4>
			{% if song.worked == '1' %}
			<span class="green" title="{% trans %}You have reported the proposed transposition as valid{% endtrans %}">&#10004;</span>
			{% endif %}
		</a>
	</li>
{% endfor %}
	<div id="no-results">
		{% trans %}Nothing found{% endtrans %}
	</div>
</ul>

{% if app.locale == 'en' and app.neouser.isLoggedIn %}
<aside class="tip">
	<h3>Missing some songs?</h3>
	<p>The following songs from the British songbook are missing in Neo-Transposer.</p>
	<table>
		<tr><td style="background: #fef5bf">25</td><td>Berakah before meals</td></tr>
		<tr><td style="background: #fef5bf">29</td><td>The Apostles’ Creed</td></tr>
		<tr><td style="background: #fef5bf">30</td><td>Our Father</td></tr>
		<tr><td style="background: white">139</td><td>He is not here, he has risen</td></tr>
		<tr><td style="background: white">140</td><td>I will take you from the nations</td></tr>
		<tr><td style="background: white">143</td><td>In the midst of a great crowd,</td></tr>
		<tr><td style="background: white">144</td><td>Zaccheus</td></tr>
		<tr><td style="background: #cae4b4">210</td><td>The Spirit of the Lord is upon me</td></tr>
		<tr><td style="background: #a3dff4">268</td><td>My beloved is for me</td></tr>
		<tr><td style="background: #a3dff4">278</td><td>Like honey flowing</td></tr>
		<tr><td style="background: #a3dff4">292</td><td>You are beautiful, my beloved</td></tr>
		<tr><td style="background: #a3dff4">294</td><td>This is my commandment</td></tr>
		<tr><td style="background: #a3dff4">297</td><td>If you are risen with Christ</td></tr>
	</table>
	<p>Want them added? Please send me a recording of an itinerant in Britain singing any of them to <a href="mailto:neo-transposer@mail.com">neo-transposer@mail.com</a>. Thanks!</p>
</aside>
{% endif %}


{% if app.locale == 'es' and app.neouser.isLoggedIn %}
<aside class="tip">
	<h3>Aviso sobre el libro de cantos</h3>
	<p>
		Los títulos y acordes de los cantos son de la 20ª edición del Resucitó
		(Madrid, 2014). Te sugiero encarecidamente que uses la 
		<strong>edición oficial</strong> del libro de cantos, y no otras ediciones 
		“piratas”, que suelen contener errores y diferencias en letras y acordes.
	</p>
</aside>
{% endif %}

{% if app.neouser.isLoggedIn %}
	{% import 'base.twig' as self %}
	{{ self.loadJsFramework() }}

	<script>

	var NTBook = {

		initializeQuickSearch: function()
		{
			var eQuickSearch = document.getElementById("quick-search"),
				eSongList = document.getElementsByClassName("song-index")[0],
				isTouchScreen = window.navigator.msMaxTouchPoints || ('ontouchstart' in document.documentElement),
				aElementsToHide = $(".link-all-report").add(".tip").add("footer");

			eQuickSearch.value = "";

			$(eQuickSearch)

				.focus(function(event)
				{
					aElementsToHide.hide();

					if (isTouchScreen)
					{
						window.scrollTo(0, eQuickSearch.getBoundingClientRect().top);
					}
				})

				.keyup(function(event)
				{
					var sSearchString = event.target.value,
						eTitle,
						oRegExp,
						iResults = 0;

					document.getElementById("no-results").style.display = 'none';

					if (sSearchString.length > 0)
					{
						aElementsToHide.hide();

						$(".song-index li").each(function()
						{
							this.style.display = 'none';
							eTitle = this.getElementsByTagName("h4")[0];

							//Remove previous highlights to have clean text
							eTitle.innerHTML = eTitle.innerHTML.replace(/<\/?mark>/ig, "");

							oRegExp = new RegExp("(" + sSearchString + ")", "ig");

							if (eTitle.innerHTML.search(oRegExp) != -1)
							{
								eTitle.innerHTML = eTitle.innerHTML.replace(oRegExp, "<mark>$1</mark>");
								this.style.display = 'block';
								iResults++;
							}
						});

						if (!iResults)
						{
							document.getElementById("no-results").style.display = 'block';
						}
					}
					else
					{
						eSongList.innerHTML = eSongList.innerHTML.replace(/<\/?mark>/ig, "");
						$(".song-index li").css("display", "block");
					}
				});
		}
	};

	$(function() {
		NTBook.initializeQuickSearch();
	})

	</script>
{% endif %}

{% endblock %}
