{% extends "base.twig" %}

{% block page_class %}page-book{% endblock %}

{% block content %}
<h1>{% trans %}Songs of the Neocatechumenal Way{% endtrans %}</h1>
<h2>
	{% if app.neouser.isLoggedIn %}
	<span class="change-book"><a class="small-button" href="{{ path('user_book', {'_locale':app.locale}) }}">{% trans %}Other languages{% endtrans %}</a></span>
	{% endif %}

	{{ current_book.lang_name }}
	<small class="book-details">({{ current_book.details }})</small>
</h2>

{% if not app.neouser.isLoggedIn %}
	{% import "login.twig" as login %}

	<div class="teaser">
		<div class="inside">
			<div class="more-inside">
				<p>{% trans %}Log-in now to transpose automatically the chords of the songs of the Neocatechumenal Way.{% endtrans %}</p>
				{{ login.login_form('', app.request.getRequestUri) }}
			</div>
		</div>
	</div>

{% endif %}

<div class="tip new">
	<strong>NUEVO: <a href="{{ path('all_songs_report', {_locale: app.locale}) }}">Descarga en PDF</a></strong> todos los cantos transportados para tu voz. Así no necesitarás conexión a Internet cada vez que quieras consultar un canto :-)
</div>

<ul class="song-index">
{% for song in songs %}
	<li>
		{{ song.page|default('&#248;')|raw }}
		· <a href="{{ path('transpose_song', {"id_song":song.slug}) }}">{{ song.title }}</a>
		{% if song.worked == '1' %}
		<span class="green" title="{% trans %}You have reported the proposed transposition as valid{% endtrans %}">&#10004;</span>
		{% endif %}
	</li>
{% endfor %}
</ul>

{% if app.locale == 'es' and app.neouser.isLoggedIn %}
<aside class="tip no-title">
	<h3>Aviso sobre el libro de cantos</h3>
	<p>
		Los títulos y acordes de los cantos son de la 20ª edición del Resucitó
		(Madrid, 2014). Te sugiero encarecidamente que uses la 
		<strong>edición oficial</strong> del libro de cantos, y no otras ediciones 
		“piratas”, que suelen contener errores y diferencias en letras y acordes.
	</p>
</aside>
{% endif %}

{% endblock %}