{% extends "base.twig" %}

{% block header_extra %}
<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}

{% block page_class %}page-login{% endblock %}

{% block languageSwitchTop %}
{% if not external %}
	<nav class="lang-switch-top">
	{% for locale, lang in languages %}
		<a class="flag-{{ locale }} {% if locale == app.locale %}active{% endif %}" href="{{ path(current_route, {'_locale': locale}) }}">{{ lang.name }}</a>
	{% endfor %}
	</nav>
{% endif %}
{% endblock %}

{% block content %}

	<a name="up"></a>
	<div class="mkt">
		<h2>
			<span class="inside">
				{% trans %}<span>It's not hard to transpose a song. What is hard is</span> <span>to know to which key should I transpose it <strong>for my voice</strong>.</span>{% endtrans %}
			</span>
		</h2>
	</div>

	<div class="inside">
		<p class="mkt-text">{% trans %}Neo-Transposer calculates the perfect transposition for each song of the Way based on your own voice. That simple. It also offers you alternatives to play the song with the easiest chords. No more complications!{% endtrans %}</p>

		{% macro login_form(error_msg, redirect) %}
		<form method="post" action="{{ path('login', {'redirect': redirect, '_locale': app.locale}) }}" class="login-form" id="login-form">
			<div class="error">{{ error_msg }}</div>
			
			<div class="field block full-width">
				<label for="email">{% trans %}Please, type your e-mail:{% endtrans %}</label>
				<input type="email" name="email" id="email" value="{{ post.email }}" autofocus required>
			</div>
			<div class="field block full-width">
				<button class="bigbutton g-recaptcha" data-sitekey="6LfXByMUAAAAAKkFOyhseUPNtuz8ZiilLUB3B5iX" data-callback="login">{% trans %}Enter{% endtrans %}</button>
			</div>
		</form>

		<script>
		function login(token)
		{
			document.getElementById("login-form").submit();
		}
		</script>

		{% endmacro %}

		{% import _self as self %}
		{{ self.login_form(error_msg) }}

		<section class="landing-info">

			<h3>{% trans %}How does it work?{% endtrans %}</h3>

			<p><i>1</i> {% trans %}First, you measure the limits of your voice by singing the chorus of a sing in different keys. It's a bit tiresome, but don't worry, you'll have to do it just once.{% endtrans %}</p>
			<p><i>2</i> {% trans %}After measuring your voice, choose any song and Neo-Transposer will calculate the chords and capo the fit you most.{% endtrans %}</p>

			{#
			<p>Cada persona tiene un tono de voz, más agudo o más grave. A
				menudo los acordes de los cantos del Camino según el libro de
				cantos determinan un tono de la canción demasiado agudo o
				demasiado grave para la voz del cantor. En ese caso solemos
				transportar los cantos, pero no es fácil hacerlo: ¿a qué tono
				debo transportarlo para mi voz? ¿Y la cejilla (capo), en qué
				traste se debe poner?</p>

			<p>Neo-Transposer te ayuda a resolver este problema. La aplicación
				mide tu voz y calcula los acordes óptimos para tu voz. 
				Inscríbete con tu e-mail, sigue los pasos y en unos minutos
				tendrás los acordes de todos los cantos transportados a tu
				voz.</p>

			<h4>Usa Neo-Transposer, ¡pero usa también la cabeza! :-)</h4>

			<p>Ojo, ¡esto es solo una herramienta! El carisma de cantor es
				mucho más, y exige práctica, mucha práctica. Debes tener en
				cuenta la intención de cada canto, para cantarlo con un tono
				de voz que no solo sea bueno para ti, sino que transmita bien
				la intención del canto y ayude a cantar a toda la comunidad. Si
				tienes dudas, pregunta siempre a otros cantores y a tus
				catequistas.</p>

			<p class="center margintop">
				<a href="#up" id="cta" class="btn-neutral bigbutton">Entrar en Neo-Transposer</a>
			</p> #}

			<p class="disclaimer">{% trans %}This website is a personal initiative of a member of the Neocatechumenal Way, but it does not represent officially the Neocatechumenal Way neither its responsibles.{% endtrans %}</p>

		</section>
	</div>

{% if external %}
	<script>
		ga('set', 'dimension4', '{{ global.request.get('external') }}');
	</script>
{% endif %}

{% endblock %}
