{% set page_title = 'Voice measure wizard'|trans %}
{% extends "base.twig" %}

{% block page_class %}wizard-empiric{% endblock %}

{% block content %}

	<h1>{% block title %}{% endblock %}</h1>

	<div class="test-area">

		<p class="instructions">{% block instructions %}{% endblock %}</p>

		<div class="pre-song">
			{% if show_audio %}
			<a href="javascript:void(0)" class="sound" id="sound">
				<span id="play-control" class="play-control stopped"><i>&nbsp;</i></span>
				{% trans %}Sing it like this:{% endtrans %}
				<audio src="{{ global.request.basepath }}{{ audio_file }}"></audio>
			</a>
			{% endif %}
			<div class="inside">
				<h5>{{ song_title}}</h5>
				<strong class="capo blink">{{ song_capo }}</strong>
				<br><br>
				{{ song|raw }}
			</div>
		</div>

		<form class="answer" method="post" action="{{ global.request.getRequestUri }}" id="form-answer">
			<h3>{% trans %}Could you sing it?{% endtrans %}</h3>

			<nav>
			{% block answer_buttons %}{% endblock %}
			</nav>
		</form>
	</div>

	{% block messages %}{% endblock %}

	{% import 'base.twig' as self %}
	{{ self.loadJsFramework() }}

	{% if show_audio %}

		<script>

		var NTSound = {

			initializeSoundControl: function()
			{
				var oAudio = document.getElementsByTagName("audio")[0],
					oPlayControl = document.getElementById("play-control");

				document.getElementById("sound").addEventListener('click', function(event) {
					
					$(oPlayControl).toggleClass("playing").toggleClass("stopped");

					if (oAudio.paused)
					{
						oAudio.play();
					}
					else
					{
						oAudio.pause();
						oAudio.currentTime = 0;
					}
				});
				
				oAudio.addEventListener('ended', function(event)
				{
					$(oPlayControl).removeClass("playing").addClass("stopped");
				});

				oAudio.addEventListener('error', function(event)
				{
					$(document.getElementById("sound")).remove();
				});

				//Auto-play (it is disabled in most of mobile browsers)
				oAudio.play();

				if (!oAudio.paused)
				{
					$(oPlayControl).removeClass("stopped").addClass("playing");
				}
			},

			stopSound: function()
			{
				var oAudio = document.getElementsByTagName("audio")[0],
					oPlayControl = document.getElementById("play-control");

				oAudio.pause();
				oAudio.currentTime = 0;
				$(oPlayControl).removeClass("playing").addClass("stopped");
			}
		};

		$(function() {
			NTSound.initializeSoundControl();
		});

		</script>
	{% endif %}

	{% block js %}{% endblock %}

{% endblock %}
