{% extends "wizard_empiric_base.twig" %}

{% block title %}{% trans %}Step 3: let's find your highest note{% endtrans %}{% endblock %}

{% block instructions %}
	{% trans with {'%song_key%': song_key, '%song_capo%': song_capo} %}Now try to sing the following chorus in <strong class="blink">%song_key% %song_capo%</strong> with the following chords. Remember: you must sing it <strong>with high voice</strong>, but without doing falsetto! Make a little effort, we are almost done!{% endtrans %}
{% endblock %}

{% block answer_buttons %}
	<button type="submit" name="can_sing" value="yes" class="big flatbutton green {{ action_yes|default() }}" id="yes">{% trans %}Yes{% endtrans %}</button>
	<button type="submit" name="can_sing" value="no" class="big flatbutton red {{ action_no|default() }}" id="no">{% trans %}No, that's too high{% endtrans %}</button>
{% endblock %}

{% block messages %}
	<div class="high-first-time hidden test-msg">
		<h3>{% trans %}Well, that is a bit strange{% endtrans %}</h3>
		<div class="inside">
			<p>{% trans %}According to the voice you have defined, this tone should not be too high for you. Maybe you should go back to the first step and choose better your voice type... or maybe just repeat the test making sure you are singing in the same tone as the guitar.{% endtrans %}</p>
			<nav>
				<a href="{{ path('wizard_step1', {'_locale': app.locale}) }}" class="big flatbutton red">{% trans %}Change my voice type{% endtrans %}</a>
				&nbsp;
				<a href="javascript:void(0)" class="big flatbutton red" id="repeat-test">{% trans %}Repeat the test{% endtrans %}</a>
			</nav>
		</div>
	</div>

	<div class="too-high hidden test-msg">
		<h3>{% trans %}That's not possible...{% endtrans %}</h3>
		<div class="inside">
			<p>{% trans %}You have clicked "Yes" many times, but I don't think it's really possible that you can sing that high. Please verify that you are following properly the steps, or click on "Finish here" if you want to finish the test.{% endtrans %}</p>
			<nav>
				<a href="{{ path('wizard_step1', {'_locale': app.locale}) }}" class="big flatbutton red">{% trans %}Repeat the test{% endtrans %}</a>
				&nbsp;
				<button type="button" id="fsubmit" class="big flatbutton green">{% trans %}Finish here{% endtrans %}</button>
			</nav>
		</div>
	</div>
{% endblock %}


{% block js %}
	<script>
	NT = {
		
		tooHigh: function()
		{
			$(".test-area").hide();
			$(".too-high").show();
			ga('send', 'event', 'WizardError', 'HighestTooHigh', 'user_id: {{ app.neouser.id_user }}');

			$(document.getElementById("fsubmit")).click(function() {
				$(document.getElementById("yes").parentNode).append(
					'<input type="hidden" name="can_sing" value="no">'
				);
				document.forms[0].submit();
			});
		},

		preventFormSubmit: function()
		{
			$("#form-answer").submit(function(e) {
				e.preventDefault();
			});
		}
	};

	$(function()
	{
		$(".tooHigh").click(function(e) {
			NT.preventFormSubmit();
			NT.tooHigh();
		});
	});
	</script>
{% endblock %}
