{% extends "base.twig" %}

{% block page_class %}voice-wizard{% endblock %}

{% block content %}

	<h1>{% trans %}Voice measure wizard{% endtrans %}</h1>

	<p>{% trans %}Follow these steps and the application will estimate your highest and lowest note. If you don't follow properly these steps you won't be able to use Neo-Transposer.{% endtrans %}</p>

	<h2 class="step-1">{% trans %}Step 1{% endtrans %}</h2>

	<p>{% trans %}To start, choose one of these options:{% endtrans %}</p>

	<div class="clearfix">

		<div class="two-sliding-panels">

			<section class="two-choices gender-selection" id="gender-selection">
				<a class="flatbutton red" href="javascript:void(0)" onclick="NT.selectGender(this)" data-show="sub-male">
					{% trans %}I have <span>male</span> voice{% endtrans %}
				</a>
				<a class="flatbutton red" href="javascript:void(0)" onclick="NT.selectGender(this)" data-show="sub-female">
					{% trans %}I have <span>female</span> voice{% endtrans %}
				</a>
			</section>

			<section class="sub-gender-selection">

				<ul id="sub-male" class="sub-gender">
					<li>
						<a class="flatbutton red" href="{{ global.request.getRequestUri }}?gender=male">
							{% trans %}Neither higher nor lower than most of men / I don't know{% endtrans %}
						</a>
					</li>
					<li>
						<a class="flatbutton red" href="{{ global.request.getRequestUri }}?gender=male_high">
							{% trans %}My voice is higher than most of men{% endtrans %}
						</a>
					</li>
					<li>
						<a class="flatbutton red" href="{{ global.request.getRequestUri }}?gender=male_low">
							{% trans %}My voice is lower than most of men{% endtrans %}
						</a>
					</li>
				</ul>

				<ul id="sub-female" class="sub-gender">
					<li>
						<a class="flatbutton red" href="{{ global.request.getRequestUri }}?gender=female">
							{% trans %}Neither higher nor lower than most of women / I don't know{% endtrans %}
						</a>
					</li>
					<li>
						<a class="flatbutton red" href="{{ global.request.getRequestUri }}?gender=female_high">
							{% trans %}My voice is higher than most of women{% endtrans %}
						</a>
					</li>
					<li>
						<a class="flatbutton red" href="{{ global.request.getRequestUri }}?gender=female_low">
							{% trans %}My voice is lower than most of women{% endtrans %}
						</a>
					</li>
				</ul>
			</section>

		</div><!-- /.two-sliding-panels -->
	</div><!-- /.clearfix -->
	
	{% import 'base.twig' as self %}
	{{ self.loadJsFramework() }}
	
	<script>
	NT = {
		selectGender: function(oLinkClicked)
		{
			$(oLinkClicked.parentNode).addClass('slided');
			$('.sub-gender').hide();
			document.getElementById(oLinkClicked.dataset.show).style.display = 'block';
		}
	};
	</script>

{% endblock %}
